body {
    padding: 0;
    margin: 0;
}

.bg-image {
    /* The image used */
    background-image: url("../images/just-tell-me-no.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.album-art {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.data-panel {
    padding: 1rem;
    background-color: rgb(250, 240, 248);
    width: 70%;
    max-width: 30rem;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    margin-top: 0;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #555;
    line-height: 30%;
}

h2 {
    margin-top: 0;
    padding: .1rem;
    color: #888;
    font-weight: lighter;
}

hr {
    color: #555;
    width: 70%;
}

.button-panel {
    margin: 1rem;
}

button {
    background-color: transparent;
    color: #555;
    border: 1px solid #555;
    border-radius: 5px;
    font-variant: small-caps;
    width: 6rem;
    cursor: pointer;
    padding: .2rem;
}

a {
    cursor: pointer;
}